.wrapper{
	max-width: 87rem;
	margin: auto;
}


/*nav*/
nav #logo a{
	font-size: 24px;
}

nav .no-hover a:hover{
	background: none;
}

nav .separator{
    border-right: 1px solid #ef9a9a;
    position: relative;
    top: 14px;
    height: 35px;
    margin: 0 1rem;
}

/*sidebar*/
#sidebar-menu{
	margin-top: 2rem;
}

#sidebar-menu li{
	display: block;
	margin: 1rem 0 1rem 1rem;
}
#sidebar-menu a{
	display: inline-flex;
	vertical-align: middle;
	line-height: 28px;
}

#sidebar-menu i{
	margin-right: 1rem;
}

/*page contents*/
#page-contents{
	column-count: 2;
	column-gap: 15px;
}

@media only screen and (max-width: 600px){
	#page-contents{
		column-count: initial;
	}
}

.card-item{
	float: none !important;
	display: inline-block;
	width: 100% !important;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

/*search*/
.search{
	padding: 0.7rem 0;
}

.search input[type=search]{
	display: inline-block;
	height: 40px;
	margin: 0;
	background-color: rgba(0,0,0,0.1);
	width: 100%;
	border-radius: 2px;
}

.search .active{
	color: red;
}

/*footer*/
.footer-menu{
	position: fixed;bottom: 10px;display: block
}

/*clearfix*/
.clearfix:before{
	display: table;
	content: " ";
}

.clearfix:after{
	clear: both;
}


.material-icons, .icon-text {
	vertical-align: middle;
}

.reset{
	margin: 0 !important;
	padding: 0 !important;
}